

<IfModule mod_rewrite.c>

Options +FollowSymLinks
#IndexIgnore */*

RewriteEngine on


    AddDefaultCharset utf-8
</IfModule>

<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_URI} ^/.*
   RewriteRule ^(.*)$ web/$1 [L]
#   if a directory or a file exists, use it directly
  RewriteCond %{REQUEST_URI} !^/web/
   RewriteCond %{REQUEST_FILENAME} !-f [OR]
   RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ web/index.php

 # deal with admin first
#    RewriteCond %{REQUEST_URI} ^/(admin)
#    RewriteRule ^/assets/(.*)$ /web/assets/$1 [L]
#    #RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
#
#    RewriteCond %{REQUEST_URI} !^/web/(assets|css)/
#    RewriteCond %{REQUEST_URI} ^/(admin)
#    RewriteRule ^.*$ /web/index.php [L]
#
#    RewriteCond %{REQUEST_URI} ^/(assets|css|js|images)
#    RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
#    RewriteRule ^css/(.*)$ /web/css/$1 [L]
#    RewriteRule ^js/(.*)$ /web/js/$1 [L]
#    RewriteRule ^images/(.*)$ /web/images/$1 [L]
#    RewriteRule ^(.*)$ /web/$1 [L]
#
#    #RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|js)/
#    RewriteCond %{REQUEST_URI} !index.php
#    RewriteCond %{REQUEST_FILENAME} !-f [OR]
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^.*$ /web/index.php
#
#
#
#    # otherwise forward it to index.php
#    #RewriteRule . index.php


# if a directory or a file exists, use it directly
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !index.php
#
## otherwise forward it to index.php
# RewriteRule ^.*$ /web/index.php
</IfModule>